*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}
.hello-btn{
    background-color: #ffff;
    color: #7510F7;
    border: 2px solid #7510F7;
    padding: 10px 26px;
    border-radius: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.hello-btn:hover{
    background-color: #7510F7;
    color: #ffff!important;
}
.menu{
    color: #7510F7;
}
#mainPage{
    padding-top: 7%;
}
#designation{
    font-size: 50px;
}
#about{
    font-size: 20px;
}
#details{
    background-color: #7510F7;
}
#description{
    padding: 10% 20% 20%;
}
@media (max-width : 500px){
        #description{
            padding: 10% 0 20%;
        }
}
.skills{
    margin-top: -10%;
    background-color: #fff;
    border: 1px solid  rgb(209, 208, 208);
    box-shadow: 1px 2px rgb(209, 208, 208);
}
.mycolor{
    color: #7510F7;
    font-size: 19px;
}
/* #project1{
    background-color: aqua;
    height: 300px;
}
#project1:hover{
    background-color: blueviolet;
    animation-name: myanim;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    content: 'Lorem ipsum is the dummy text usually all devleops are used to display some content in websites';
}
.projects{
    margin-top: 9%;
}

@keyframes myanim {
    0% {

    }
    50% {
        background-color: chartreuse;

    }
    100% {
        background-color: darkgoldenrod;
    }
} */

.project1-main{
    position: relative;
    top: 0;
    left: 0;
    background-color: #fff;
    /* height: 275px; */
            }
.projects-title{
    margin: 5% 0;
}
.project-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    margin: 0px 14px;
    color: #fff;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    padding: 36px 28px;
}
.project-text:hover {
    opacity: 1;
}

.start-a-project{
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    color: #fff;
    /* font-size: 18px; */
    text-align: center;
    padding: 42px 0;
    position: relative;
    top: 84px;
    margin: 0 auto;
    /* margin-bottom: -10px; */
}
.start-a-project-title{
    font-size: 30px;
    font-weight: bolder;
    
}

.lets-do-btn{
    /* background-color: #ffff; */
    color: #ffff;
    border: 2px solid #7510F7;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
}
.lets-do-btn:hover{
    background-color: #7510F7;
    color: #ffff
}

footer{
    background-color: #7510F7;
    color: #ffff;
    font-size: 20px;
    text-align: center;
}

.social-link ul {
    list-style-type: none;
    }
  .social-link li {
    display: inline-block; 
    }
    .social-link li a {
        text-decoration: none;
    }
  .social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #7510F7;
    margin-right: 5px;
    color: #fff; 
    font-size: 20px !important;
    border: 1px solid #fff;
    }
    
.social-link a i:hover{
    background-color: #fff;
    color: #7510f7;
}

.footer-title-logo{
    padding-top: 10%;
}
.footer-title{
    padding-bottom: 5%;
}
.footer-copyright{
    padding: 5% 0;
}

/* say hellow css starts */

.avtar{
    margin-top: -39px;
}
.submit-btn{
    /* margin-left: 26%; */
}
.form-main {
    font-size: 20px;
}
.form-main input{
    font-size: 23px;
}

.undo-times i{
    margin-top: 30px;
    margin-right: 20px;
    color: #7510F7;
    font-size: 20px;
    text-decoration: none;
}